#icon{
    vertical-align:baseline;
}

[nz-icon] {
    margin-right: 6px;
    font-size: 24px;
  }

nz-select-arrow.ant-select-arrow.ng-tns-c139-0.ng-star-inserted{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
