<div class="text-center">
  <span>
    &copy; {{year}}
  </span>
  <nz-divider nzType="vertical"></nz-divider>
  <span>
    <a nz-button nzType="link" href="https://github.com/hnslopez" target="_blank">
      Github <span  id="icon" nz-icon nzType="github" nzTheme="fill"></span>
    </a>
    <nz-divider nzType="vertical"></nz-divider>
    <a nz-button nzType="link" href="https://www.linkedin.com/in/hnslopez/" target="_blank">
      Linkedin <span  id="icon" nz-icon nzType="linkedin" nzTheme="fill"></span>
    </a>
    <nz-divider nzType="vertical"></nz-divider>

  </span>
</div>