.header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s,padding 0s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }

  .sidebar-logo img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }
  
  .sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
  }
  
.app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: #1f1f1f;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    padding: 0 24px 0 24px;
  }
  
  .nav-flex{
    flex: 1;
    display: flex;
    align-content: space-between;
  }

  nz-divider {
    color: #333;
    font-weight: normal;
  }
  .inner-box {
    background: #0092ff;
    padding: 8px 0;
  }