<div *ngIf="isLoggedIn$ | async; else loginNow">
       <!--    <div nz-col nzSpan="12" class="gutter-row" >
    
        <span class="header-trigger" (click)="changeCollapse(!isCollapsed)">
          <i class="trigger"
             nz-icon
             [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
      </span>
     </div>
      <div nz-col nzSpan="12"  class="gutter-row"  style="text-align: right; padding-right: 8px;">
        <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click" nzPlacement="bottomRight">
          <nz-avatar nzSize="large" nzIcon="user"></nz-avatar> 
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-divider></li>
            <li nz-menu-item>Mi Perfil</li>
            <li nz-menu-item>Mi Cuenta</li>
            <li nz-menu-divider></li>
            <li nz-menu-item nzDanger>Cerrar sesión
              <i nz-icon nzType="right" nzTheme="outline"></i>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>      
--> 
<ul nz-menu nzSelectable  nzMode="horizontal">
  <li nz-menu-item >
    <a [routerLink]="['/']">HOME</a>
  </li>
    <li nz-menu-item class="nav-right">
      <a [routerLink]="['/', 'logout']">CERRAR SESIÓN</a>
    </li>
    <li class="nav-right">
      NOMBRE
    </li>
  </ul>    

    </div>
    <ng-template #loginNow>
      <ul nz-menu nzMode="horizontal" class="header-menu">
        <li nz-menu-item >
          <a [routerLink]="['/']">HOME</a>
        </li>
          <li nz-menu-item class="nav-right">
            <a [routerLink]="['/', 'login']">INICIAR SESIÓN</a>
          </li>
        </ul>    
    </ng-template>
   
