.bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  

  .container-login{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ebebeb;
  }

  .bg-custom{
    background-color: #1e1e1c;
  }


  @media screen and (min-width: 768px) {
    .form-register-width{
      max-width: 500px;

     }
   
  }

  .blur{
    backdrop-filter: blur(10px);
  }

  [nz-form] {
    max-width: 600px;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }


  @media only screen and (max-height: 600px) {
    .py-md-4 {
      padding-top: 0rem!important;
      padding-bottom: 0rem!important;
    }
}