<div class="container-fluid px-0  h-100 bg" style="background-image: url('assets/background.jpg');">
  <div class="d-flex flex-column justify-content-center h-100 blur">
    <div class="container">
      <div class="wrap d-md-flex justify-content-center">
        <nz-card style="background-color: #1d1d1b;" class="d-flex align-items-center justify-content-center">
        <div class="text-wrap p-4 text-center d-flex align-items-center order-md-last">
            <div class="text w-100">
              <p>¿No tienes una cuenta?</p>
              <button nz-button nzType="dashed">REGISTRATE</button>

            </div>
        </div>
      </nz-card>
        <nz-card class="form-login-width py-md-4 px-2 bg-dark ">
        <div class="mx-auto">
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
              <nz-form-item class="mb-0" >
                <h3 nz-typography >Iniciar sesión</h3>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzErrorTip]="userErrorTp">
                  <nz-form-label [nzSpan]="5">Usuario</nz-form-label>
                 <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="userName" maxlength="16" />
                    <ng-template #userErrorTp let-control>
                      <ng-container *ngIf="control.hasError('required')">Ingrese su usuario</ng-container>
                      <ng-container *ngIf="control.hasError('minlength')">Su usuario tiene un minimo de 3 letras</ng-container>
                    </ng-template>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzErrorTip]="passwordErrorTp">
                  <nz-form-label [nzSpan]="5">Contraseña</nz-form-label>
                  <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passw">
                    <input [type]="passwordVisible ? 'text' : 'password'" maxlength="16"  nz-input formControlName="password" autocomplete="off"/>
                    <ng-template #passwordErrorTp let-control>
                      <ng-container *ngIf="control.hasError('required')">Ingrese su contraseña</ng-container>
                      <ng-container *ngIf="control.hasError('minlength')">Su contraseña tiene un minimo de 3 letras</ng-container>
                    </ng-template>
                  </nz-input-group>
                  <ng-template #passw>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <div nz-row class="login-form-margin">
                <div nz-col [nzSpan]="null">
                  <a class="login-form-forgot">¿No recuerdas tu contraseña?</a>
                </div>
              </div>
              <button nz-button class="login-form-button login-form-margin" nzSize="large" nzType="primary" type="submit"  [nzLoading]="(isLoading$ | async)!">INICIAR</button>
  
            </form>
        </div>
      </nz-card>
      </div>
    </div>
  </div>
</div>