<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
  <nz-divider></nz-divider>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<nz-divider></nz-divider>

<section>
  <div class="container" >
    <nz-card nzHoverable class="mb-3 g-0">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded-start"  src="/assets/angular.png" alt="Angular">
        </div>
        <div class="col-md-8">
          <h4 class="m-b-10">{{"MAIN_PAGE.ANGULAR.TITLE" | translate}}</h4>
          <p class="lh-1-8 m-b-20">
            <span nz-typography>{{"MAIN_PAGE.ANGULAR.DESCRIPTION" | translate}}</span>
          </p>
          <div class="text-right">
            <a class="font-weight-semibold" nz-button nzType="link">{{"MAIN_PAGE.ANGULAR.LINK_TEXT" | translate}}</a>
          </div>
        </div>
      </div>
    </nz-card>

    <nz-card nzHoverable class="mb-3 pb-0">
      <div class="row g-0">
        <div class="col-md-4 order-md-2">
          <img class="img-fluid rounded-start" src="/assets/nestjs.png" alt="Nestjs">
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="m-b-10">{{"MAIN_PAGE.NESTJS.TITLE" | translate}}</h4>
          <p class="lh-1-8 m-b-20">
            <span nz-typography>{{"MAIN_PAGE.NESTJS.DESCRIPTION" | translate}}</span>
          </p>
          <div class="text-right">
            <a class="font-weight-semibold" nz-button nzType="link">{{"MAIN_PAGE.NESTJS.LINK_TEXT" | translate}}</a>
          </div>
        </div>
      </div>
    </nz-card>
    
    <nz-card nzHoverable class="mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-fluid rounded-start"  src="/assets/mongodb.png" alt="Mongodb">
        </div>
        <div class="col-md-8">
          <h4 class="m-b-10">{{"MAIN_PAGE.MONGODB.TITLE" | translate}}</h4>
          <p class="lh-1-8 m-b-20">
            <span nz-typography >{{"MAIN_PAGE.MONGODB.DESCRIPTION" | translate}}</span>
          </p>
          <div class="text-right">
            <a class="font-weight-semibold" nz-button nzType="link">{{"MAIN_PAGE.MONGODB.LINK_TEXT" | translate}}</a>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</section>